#nameForm
{
	background-color: #FFB84D;
    border:solid 1px #BFBDBD;
    /*color: #FF0000;*/
    height: 28px;
    padding-left:10px;
    width: 191px;
    box-shadow: 2px 2px 0 #828181 inset;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border:1px solid #fafafa;
 	-webkit-box-shadow:0 0 36px #007eff;
 	-moz-box-shadow:0 0 35px #007eff;
 	bo5x-shadow:0 0 35px #007eff;
 	font-family:"Lucida Console", Monaco, monospace;

}

#score
{
	background-color: #FFB84D;
    /*border:solid 1px #BFBDBD;*/
    color: #FF0000;
    height: 70px;
    padding-left:10px;
    width: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
 	font-family:"Lucida Console", Monaco, monospace;
	box-shadow: 2px 2px 0 #828181 inset;
	border:1px solid #fafafa;
 	-webkit-box-shadow:0 0 36px #007eff;
 	-moz-box-shadow:0 0 35px #007eff;
 	bo5x-shadow:0 0 35px #007eff;
 	opacity:0.8;
 	background-image:url('img/status.jpg');
}

table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;

}
table.imagetable th {
	background:#FFB84D;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background:#dcddc0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;


}

#shop
{
	background-color: #FFB84D;
    /*border:solid 1px #BFBDBD;*/
    /*color: #FF0000;*/
    height: 300px;
    padding-left:10px;
    width: 350px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
 	font-family:"Lucida Console", Monaco, monospace;
	box-shadow: 2px 2px 0 #828181 inset;
	border:1px solid #fafafa;
 	-webkit-box-shadow:0 0 36px #007eff;
 	-moz-box-shadow:0 0 35px #007eff;
 	bo5x-shadow:0 0 35px #007eff;
 	opacity:0.9;
}



.shopButtonsDisabled {
-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.shopButtonsDisabled:active {
	position:relative;
	top:1px;
}



.shopButtons {
	-moz-box-shadow:inset 10px 8px 19px -6px #fab3ad;
	-webkit-box-shadow:inset 10px 8px 19px -6px #fab3ad;
	box-shadow:inset 10px 8px 19px -6px #fab3ad;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa665a), color-stop(1, #d34639) );
	background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
	background-color:#fa665a;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:2px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:8px 23px;
	text-decoration:none;
	text-shadow:2px 0px 0px #98231a;
}.shopButtons:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d34639), color-stop(1, #fa665a) );
	background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
	background-color:#d34639;
}.shopButtons:active {
	position:relative;
	top:1px;
}

/* This imageless css button was generated by CSSButtonGenerator.com */
